.container {
  background-color: #07305d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 10%;
  /*border-bottom: #eaa159 1px solid;*/
  box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.75);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navContent {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  width: 100px;
  height: 100px;
}

.name {
  color: white;
  cursor: pointer;
}

.buttons {
  border: 3px solid #07305d;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
  font-weight: bold;
  color: #07305d;
  font-size: 1rem;
}

.buttons a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}