.global, .global > * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  background-color: #07305d;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* height: min-content; */
  width: 100%;
  padding: 0 10%;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navContent {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.fadeWrapper {
  display: grid;
}

.fadeItem {
  grid-area: 1 / 1;
}

.logo {
  width: 100px;
  height: 100px;
}

.name {
  color: white;
  cursor: pointer;
}

.buttons {
  border: 3px solid #07305d;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
  font-weight: bold;
  color: #07305d;
  font-size: 1rem;
}

.buttons a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
