.heroImage {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.heroMask {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  margin: 0;
}

.heroContent {
  padding-left: 150px;
  padding-top: 100px;
  padding-right: 25%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  opacity: 1;
  z-index: 1;
  color: white;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: 900;
}

.heroSubtitle {
  font-size: 1.25rem;
  font-weight: 400;
}

.heroButton {
  border: 3px solid #eaa159;
  background-color: #07305d;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  font-weight: bold;
  color: #eaa159;
  font-size: 2rem;
}