.hero {
  background-image: url("../public/hands_and_laptop_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.heroMask {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.heroContent {
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  z-index: 1;
  color: white;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.heroSubtitle {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.heroButton {
  border: 3px solid #f35815;
  background-color: white;
  color: #d8d8d8;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  font-weight: bold;
  color: #f35815;
  font-size: 2rem;
}

.container {
  color: #d8d8d8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: 1px solid #f35815;
  background-color: transparent;
  color: #d8d8d8;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1.5rem;
}

.workoutHeading {
  text-align: center;
  margin-top: 1rem;
}

.email {
  color: #f35815;
}

.noWorkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.loading {
  color: #f35815;
  margin-top: 1rem;
}

.loading {
  text-align: center;
  color: #d8d8d8;
  height: 100vh;
}
